@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
}
.pros-con-content {
  display: inline-block;
}
.desktop-separator {
  margin: 30px 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.red {
  background-color: #ff523b;
}

.green {
  background-color: green;
}

.home-page-image-container {
  height: calc(100vh - 82px);
  background-image: url(./images/bg-image-2.jpg);
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.home-page-image-container {
  padding: 20px;
  border-radius: 20px;
}

.home-page-image-container > .row {
  width: 100%;
  justify-content: left;
}

.home-page-text-container {
  margin-left: 5%;
}

.home-page-image-container p,
.home-page-image-container h1 {
  color: white;
}
.navbar {
  /* display: flex;
  align-items: center; */
  padding: 20px;
}
nav {
  text-align: right;
  flex: 1;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  margin-right: 20px;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
}

header {
  background: white;
}
header .row {
  margin-top: 70px;
}

/* featured categories  */

.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px 0 25px;
}

/* featured products */

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  margin-top: 20px;
}
.col-4 a {
  text-decoration: none;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto;
  position: relative;
  line-height: 60px;
  color: #555;
  padding: 0 20px;
  font-weight: 100;
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}

/* -----offer----- */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}

/* testimoial */

.testimonial {
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}
.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* brands */

.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0%);
}

/* footer */

.footer {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #fff;
}
footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-2 {
  /*margin: 114px 0px 41px calc((100% - 980px) * 0.5);*/
  text-align: center;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 h1 {
  flex: 1;
  color: #fff;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-4,
.footer-col-3 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #8a8a8a;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

/* underline */

footer hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.copyright a {
  text-decoration: none;
  color: #fff;
}

/* menu icon */

.menu-icon {
  width: 28px;
  display: none;
}

.suggesstme-nav {
  position: sticky;
  top: 0;
  background: white;
  padding-bottom: 20px;
}

.social-icons {
  width: 24px;
}

.mobile-social-icons {
  display: none;
}
@media only screen and (max-width: 800px) {
  .mobile-social-icons {
    display: flex;
    justify-content: space-around;
  }

  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    height: 100vh;
    position: fixed;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li:first-child {
    margin-top: 150px;
  }

  nav ul li a {
    color: #000;
  }
  .menu-icon {
    position: absolute;
    right: 20px;
    display: block;
    cursor: pointer;
  }

  .suggesstme-nav {
    position: relative;
  }
}

.navbar .logo {
  text-align: center;
}

.navbar nav {
  text-align: center;
}
#menuItems li a {
  line-height: 50px;
  padding: 0 10px;
}

#menuItems li {
  min-width: 130px;
}
/* media query for less than 600 screen size  */

@media only screen and (max-width: 600px) {
  .desktop-separator {
    margin: 30px 0 0;
  }

  .single-details:first-of-type {
    margin-top: 0;
  }

  .row {
    text-align: center;
  }

  .home-page-image-container > .row {
    justify-content: center;
  }

  .col-2,
  .col-4,
  .col-3 {
    flex-basis: 100%;
  }
  /* product-details.html */
  .single-details .row {
    text-align: left;
  }
  .single-details .col-2 {
    padding: 20px 0;
  }
  .single-details h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .home-page-text-container {
    margin-left: 0%;
  }

  .home-screen-product-detail-highlighters .col-4 {
    margin-bottom: 0;
  }

  .home-screen-product-detail-highlighters .col-4:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }

  .home-screen-product-detail-highlighters .col-4 img {
    width: 40%;
  }

  .home-screen-product-detail-highlighters .col-4 a {
    display: flex;
    align-items: center;
  }

  .home-screen-product-detail-highlighters .col-4 a h4 {
    margin-left: 20px;
    text-align: center;
  }
}

/* -----------products.html---------- */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background-color: #ff523b;
  color: white;
}

/* -----------products-details.html---------- */
.col-2 a:hover {
  background-color: #0070b9;
  color: white;
  transition: 0.5s;
}
.single-details {
  margin-top: 80px;
}
.col-2 a {
  background-color: white;
  color: #0070b9;
  padding: 3px 15px;
  text-decoration: none;
  border: 1px solid #0070b9;
  border-radius: 20px;
  font-weight: bold;
}

.col-2 a.btn {
  display: inline-block;
  margin-top: 20px;
}

.single-details .col-2 img {
  padding: 0;
}
.single-details .col-2 {
  padding: 20px;
}
.single-details h4 {
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
}
.single-details select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-details input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.single-details .fa {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.product-details a {
  text-decoration: none;
  color: #000;
}

/* -----account.html----- */

.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  /* form slider style */
  overflow: hidden;
}
.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
#loginForm {
  left: -300px;
}
#regForm {
  left: 0;
}
form a {
  font-size: 12px;
  text-decoration: none;
}
#indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translate(100px);
  transition: transform 1s;
}

.about-section-title {
  margin-left: 100px;
  font-size: 50px;
  font-family: "suez one", serif;
  color: rgb(39, 36, 67);
  text-align: left;
  width: 720px;
  letter-spacing: 1px;
}

.about-section-description-container {
  display: flex;
  margin-top: 60px;
}
.about-section-description-img {
  min-height: 390px;
  width: 45%;
  background: url(./images/description-img.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;

  /* <img src="./images/description-img.jpg" alt="" /> */
}
.about-section-description-text {
  width: 55%;
  background-color: rgb(218, 57, 43);
  color: white;
  padding: 30px;
  text-align: left;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section-description-text img {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .about-section-title {
    margin-left: 0;
    width: 100%;
    font-size: 30px;
    padding: 0 20px;
    text-align: left;
  }
}

@media only screen and (max-width: 600px) {
  .about-section-description-container {
    flex-direction: column;
  }

  .about-section-description-img {
    width: 100%;
    min-height: 300px;
  }
  .about-section-description-text {
    width: 100%;
  }
}
